ari
git+https://github.com/digium/swagger-py.git  # the release 0.2.1 has blocking bugs, so we need master
git+https://github.com/xivo-pbx/xivo-auth-client.git
git+https://github.com/xivo-pbx/xivo-confd-client.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-lib-rest-client.git
flask==0.10.1
flask-restful==0.3.4
flask-cors==1.10.3
kombu
pyyaml==3.10
requests==2.0.0  # cf. https://github.com/xivo-pbx/xivo-python-swaggerpy-packaging/commit/4b80cfa7e3d629242946ad27d6444158c0d28c3d
ari
stevedore==0.14.1
